@font-face {
  font-family: 'ICIEL Bambola';
  src: url('./fonts/ICIEL-Bambola.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DFVN OceanRush Regular';
  src: url('./fonts/DFVN-OceanRush-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UVF Pistilli Roman';
  src: url('./fonts/UVF-Pistilli-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}